<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intranet | BaseWebApp</title>

    <link rel="stylesheet" href="~/dependencies/bootstrap/css/bootstrap.min.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/dependencies/jquery/jquery.min.js"></script>
    <script src="~/dependencies/bootstrap/js/bootstrap.min.js"></script>
    <environment include="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>

